$maincolor: #579C87;
$mainclrfont: #FDCB46;
$colormenu1: #fcdfdb;
$colormenu2: #fff5fe;
$colormenu3: #f9f9f9;
$colormenu4: #fdfffd;
$clrm2-start: #C67412;
$clrm2-mid: #A56799;
$clrm2-end: #6E4CCC;
$clrm3-start:#0228DD;
$clrm3-mid: #0670F3;
$clrm3-end:#229DF9;
$clrm4-start:#42963D;
$clrm4-mid: #7DC85D;
$clrm4-end: #BEFF7F;
$clrnote-start: #F15861;
$clrnote-bot: #F78F6A;