@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Leckerli+One|Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Croissant+One|Dancing+Script|Devonshire|Kalam|Kaushan+Script|Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather|Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam&display=swap");
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(0) rotate(0deg);
            transform: translate(0) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-2px, -3px) rotate(-2deg);
            transform: translate(-2px, -3px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-4px, -1px) rotate(1deg);
            transform: translate(-4px, -1px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-2px, 2px) rotate(-1deg);
            transform: translate(-2px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 2px) rotate(0deg);
            transform: translate(-3px, 2px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: translate(0) rotate(0deg);
            transform: translate(0) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-2px, -3px) rotate(-2deg);
            transform: translate(-2px, -3px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-4px, -1px) rotate(1deg);
            transform: translate(-4px, -1px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-2px, 2px) rotate(-1deg);
            transform: translate(-2px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 2px) rotate(0deg);
            transform: translate(-3px, 2px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes soon {
  0%, 100% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}

@keyframes soon {
  0%, 100% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}

@-webkit-keyframes spin {
  0%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

@keyframes spin {
  0%,
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(160%);
            transform: translate(160%);
  }
  50% {
    -webkit-transform: translate(160%, 160%);
            transform: translate(160%, 160%);
  }
  75% {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
}

/* Général */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #579C87;
  padding: 2.5vmin;
}

header h1 {
  color: #FDCB46;
  font-family: 'Montserrat';
  font-size: 3.5vmax;
  font-weight: 700;
  letter-spacing: -0.06em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579C87;
  position: fixed;
  height: 4.5vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
  bottom: 0;
  /* Animation wiggle */
}

footer a {
  text-decoration: none;
  color: #FDCB46;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 2.5vmin;
}

footer .wiggle:hover {
  -webkit-animation: 80ms linear 3 wiggle;
          animation: 80ms linear 3 wiggle;
}

/*** Page d'accueil ***/
/* Items  */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 2vmin;
  margin-bottom: 1.5vmin;
}

@media (min-width: 1200px) {
  .menu {
    width: 70%;
  }
}

@media (min-width: 1800px) {
  .menu {
    width: 60%;
  }
}

.menu-title {
  margin-bottom: 1vmin;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 440px;
  width: 290px;
  margin: 3vw;
  -webkit-box-shadow: 0 0 10px #a3a1a366;
          box-shadow: 0 0 10px #a3a1a366;
  overflow: hidden;
}

@media (max-width: 599px) {
  .menu__item a {
    font-size: 1em;
  }
}

@media (min-width: 600px) {
  .menu__item {
    height: 350px;
    width: 240px;
  }
  .menu__item a {
    font-size: 0.8em;
  }
}

@media (min-width: 900px) {
  .menu__item {
    height: 450px;
    width: 310px;
  }
  .menu__item a {
    font-size: 1.1em;
  }
}

@media (min-width: 1800px) {
  .menu__item {
    height: 600px;
    width: 420px;
  }
  .menu__item a {
    font-size: 1.3em;
  }
}

.menu__item--note {
  background-color: #fcdfdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  /* Animation zoom sur menu */
}

.menu__item--note:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0.5;
}

.menu__item--note .menu-title {
  font-family: 'Devonshire';
  font-size: 2em;
  font-weight: lighter;
  color: #3C1218;
}

.menu__item--note .menu-word {
  text-transform: uppercase;
  font-family: 'Kalam';
  font-weight: bold;
  font-size: 2em;
  color: #3C1218;
}

.menu__item--note .fas {
  font-size: 2em;
  background: -webkit-linear-gradient(left, #F15861, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__item--chic {
  background-color: #fff5fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  /* Animation zoom sur menu */
}

.menu__item--chic:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0.5;
}

.menu__item--chic .menu-title {
  font-family: 'Croissant one', cursive, sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  background: -webkit-linear-gradient(left, #C67412, #A56799, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__item--chic .menu-word {
  color: #C67412;
  font-size: 2.2em;
}

.menu__item--delice {
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  /* Animation zoom sur menu */
}

.menu__item--delice:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0.5;
}

.menu__item--delice .menu-title {
  font-family: 'Dancing Script', cursive, sans-serif;
  font-size: 1.7em;
  font-weight: lighter;
  background: -webkit-linear-gradient(left, #0228DD, #0670F3, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__item--delice .menu-word {
  font-family: 'Kalam';
  font-size: 2.5em;
  font-weight: 100;
  color: #0670F3;
}

.menu__item--palette {
  background-color: #fdfffd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  /* Animation zoom sur menu */
}

.menu__item--palette:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0.5;
}

.menu__item--palette .menu-title {
  font-family: 'Kaushan Script';
  font-size: 1.7em;
  font-weight: lighter;
  background: -webkit-linear-gradient(left, #42963D, #7DC85D, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__item--palette .menu-word {
  font-family: 'Kalam';
  font-size: 2.5em;
  font-weight: 100;
  color: #7DC85D;
}

/** Bouton "Prochainement" **/
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 8px;
  background-color: #579C87;
  margin-bottom: 11vh;
  /* Animation points de suspension */
}

@media (max-width: 599px) {
  .button {
    width: 200px;
    height: 40px;
    margin-bottom: 7vh;
  }
}

@media (min-width: 600px) {
  .button {
    width: 230px;
    height: 45px;
  }
}

@media (min-width: 900px) {
  .button {
    width: 330px;
    height: 50px;
    margin-bottom: 10vh;
  }
}

@media (min-width: 1800px) {
  .button {
    width: 350px;
    height: 65px;
  }
}

.button a {
  color: #FDCB46;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 1.3em;
  font-family: 'Montserrat';
}

@media (min-width: 600px) {
  .button a {
    font-size: 1.3em;
  }
}

@media (min-width: 900px) {
  .button a {
    font-size: 1.8em;
  }
}

@media (min-width: 1200px) {
  .button a {
    font-size: 1.6em;
    margin-left: 2em;
  }
}

@media (min-width: 1800px) {
  .button a {
    font-size: 1.9em;
    margin-left: 1.4em;
  }
}

.button .loading {
  color: #FDCB46;
}

.button .loading:after {
  -webkit-animation: soon 1s infinite;
          animation: soon 1s infinite;
  content: '';
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

/** Pages Menus **/
.note,
.chic,
.delice,
.palette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 10px #a3a1a366;
          box-shadow: 0 0 10px #a3a1a366;
  margin: auto;
  margin-bottom: 10vh;
  width: 80vw;
  height: 100%;
}

.note h2,
.chic h2,
.delice h2,
.palette h2 {
  text-align: center;
}

.note_info,
.chic_info,
.delice_info,
.palette_info {
  display: inline-block;
}

.note_info .product,
.chic_info .product,
.delice_info .product,
.palette_info .product {
  float: left;
  width: 85%;
}

.note_info .price,
.chic_info .price,
.delice_info .price,
.palette_info .price {
  float: right;
  text-align-last: right;
}

.note_line-h3,
.chic_line-h3,
.delice_line-h3,
.palette_line-h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .note,
  .chic,
  .delice,
  .palette {
    width: 90vw;
  }
}

@media (min-width: 1200px) {
  .note,
  .chic,
  .delice,
  .palette {
    width: 60vw;
  }
}

@media (min-width: 1800px) {
  .note,
  .chic,
  .delice,
  .palette {
    width: 50vw;
  }
}

.restaurant {
  font-family: 'Montserrat';
  text-align: center;
  font-weight: 900;
  font-size: 2.5vmin;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Soulignement titres entrées/plats/desserts */
.underline-h3 {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.underline-h3:before {
  content: '';
  height: 3px;
  width: 0;
  -webkit-transition: width 0s ease, background-color .5s ease;
  transition: width 0s ease, background-color .5s ease;
  position: absolute;
  bottom: 0;
}

.underline-h3:hover:before {
  width: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background: -webkit-gradient(linear, right top, left top, from(#efff92), to(#0af0be));
  background: linear-gradient(to left, #efff92, #0af0be);
}

/** Menu 1 **/
.note {
  background-color: #fcdfdb;
}

.note h2 {
  font-family: 'Devonshire';
  font-weight: 300;
  margin-bottom: 4vh;
  font-size: 3.5vmax;
}

.note h4 {
  text-align: center;
  font-family: 'Devonshire';
  font-weight: 300;
  font-size: 2.5vmax;
  padding-bottom: 2.5vh;
}

.note h3 {
  font-weight: 600;
  font-family: 'Segoe Print', sans-serif;
  font-size: 2.2vmin;
}

@media (max-width: 599px) {
  .note h3 {
    font-size: 4vmin;
  }
}

.note .top.fas {
  font-size: 7vmin;
  padding-top: 5vh;
}

.note .fas {
  text-align: center;
  background: -webkit-linear-gradient(left, #F15861, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note_info {
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-family: 'Segoe Print';
  font-size: 2vmin;
  padding-left: 6vw;
  padding-right: 6vw;
}

@media (max-width: 599px) {
  .note_info {
    font-size: 3.5vmin;
  }
}

.note .product,
.note .price {
  margin-bottom: 3vh;
}

.note .price {
  font-weight: 900;
}

.note_line-h3:before, .note_line-h3:after {
  content: '';
  position: relative;
  width: 23%;
  height: 2vh;
}

.note_line-h3:before {
  margin-left: 6vw;
  background: #3d171d;
  background: -webkit-gradient(linear, left top, right top, from(#3d171d), to(#584727));
  background: linear-gradient(to right, #3d171d, #584727);
  -webkit-clip-path: polygon(47% 37%, 99% 31%, 100% 55%, 49% 58%, 0 54%, 0 28%);
  clip-path: polygon(47% 37%, 99% 31%, 100% 55%, 49% 58%, 0 54%, 0 28%);
}

.note_line-h3:after {
  margin-right: 6vw;
  background: #584727;
  background: -webkit-gradient(linear, left top, right top, from(#584727), to(#3d171d));
  background: linear-gradient(to right, #584727, #3d171d);
  -webkit-clip-path: polygon(47% 37%, 99% 31%, 100% 55%, 49% 58%, 0 54%, 0 28%);
  clip-path: polygon(47% 37%, 99% 31%, 100% 55%, 49% 58%, 0 54%, 0 28%);
}

/** Menu 2 **/
.chic {
  background-color: #fff5fe;
}

.chic h2 {
  font-family: 'Croissant One';
  background: -webkit-linear-gradient(left, #C67412, #A56799, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 6vh;
  margin-bottom: 6vh;
  font-weight: 200;
  font-size: 3vmax;
}

.chic h3 {
  font-size: 2.1vmin;
  font-weight: 600;
  font-family: 'Roboto Slab';
}

@media (max-width: 599px) {
  .chic h3 {
    font-size: 3.2vmin;
  }
}

.chic_info {
  margin-bottom: 5vh;
  padding-left: 7vw;
  padding-right: 7vw;
  font-family: 'Roboto Slab';
  font-size: 1.9vmin;
}

@media (max-width: 599px) {
  .chic_info {
    font-size: 3vmin;
  }
}

.chic .product,
.chic .price {
  margin-top: 1.7vh;
  margin-bottom: 1.7vh;
}

.chic .price {
  font-weight: 900;
}

.chic .start {
  color: #C67412;
}

.chic .start:before, .chic .start:after {
  background: #C67412;
}

.chic .mid {
  color: #A56799;
}

.chic .mid:before, .chic .mid:after {
  background: #A56799;
}

.chic .end {
  color: #6E4CCC;
}

.chic .end:before, .chic .end:after {
  background: #6E4CCC;
}

.chic_line-h3 {
  margin-bottom: 3vh;
}

.chic_line-h3:before, .chic_line-h3:after {
  content: '';
  position: relative;
  width: 25%;
  height: 3vh;
}

.chic_line-h3:before {
  margin-left: 2vw;
  -webkit-clip-path: polygon(88% 22%, 100% 40%, 88% 55%, 0 43%);
  clip-path: polygon(88% 22%, 100% 40%, 88% 55%, 0 43%);
}

.chic_line-h3:after {
  margin-right: 2vw;
  -webkit-clip-path: polygon(9% 23%, 100% 39%, 9% 55%, 0% 38%);
  clip-path: polygon(9% 23%, 100% 39%, 9% 55%, 0% 38%);
}

/* Menu "Le délice des papilles" */
.delice {
  background-color: #f9f9f9;
}

.delice h2 {
  font-family: 'Dancing Script';
  font-weight: 300;
  font-size: 3.5vmax;
  padding-top: 7vh;
  margin-bottom: 5vh;
  background: -webkit-linear-gradient(left, #0228DD, #0670F3, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delice h3 {
  font-family: 'Segoe Print';
  font-size: 2.2vmin;
  font-weight: 600;
}

@media (max-width: 599px) {
  .delice h3 {
    font-size: 3.8vmin;
  }
}

.delice_info {
  font-family: 'Segoe Print';
  font-size: 2vmin;
  padding-left: 6vw;
  padding-right: 6vw;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

@media (max-width: 599px) {
  .delice_info {
    font-size: 3.5vmin;
  }
}

.delice .product,
.delice .price {
  margin-bottom: 3vh;
}

.delice .price {
  font-weight: 900;
}

.delice .start:before, .delice .start:after {
  background: #0228DD;
}

.delice .mid:before, .delice .mid:after {
  background: #0670F3;
}

.delice .end:before, .delice .end:after {
  background: #229DF9;
}

.delice_line-h3:before, .delice_line-h3:after {
  content: '';
  position: relative;
  width: 25%;
  height: 3vh;
}

.delice_line-h3:before {
  margin-left: 3vw;
  -webkit-clip-path: polygon(94% 50%, 97% 62%, 3% 62%, 1% 37%, 11% 50%);
  clip-path: polygon(94% 50%, 97% 62%, 3% 62%, 1% 37%, 11% 50%);
}

.delice_line-h3:after {
  margin-right: 3vw;
  -webkit-clip-path: polygon(100% 32%, 97% 62%, 3% 62%, 6% 48%, 87% 48%);
  clip-path: polygon(100% 32%, 97% 62%, 3% 62%, 6% 48%, 87% 48%);
}

.palette {
  background-color: #fdfffd;
}

.palette h2 {
  font-family: 'Kaushan Script';
  font-weight: 200;
  font-size: 3.5vmax;
  margin-top: 5vh;
  margin-bottom: 4vh;
  background: -webkit-linear-gradient(left, #42963D, #7DC85D, #BEFF7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette h3 {
  font-family: 'Segoe Print';
  font-size: 2.2vmin;
  font-weight: 600;
}

@media (max-width: 599px) {
  .palette h3 {
    font-size: 3.8vmin;
  }
}

.palette_info {
  font-family: 'Segoe Print';
  font-size: 2vmin;
  padding-left: 6vw;
  padding-right: 6vw;
  margin-top: 3vh;
}

@media (max-width: 599px) {
  .palette_info {
    font-size: 3.5vmin;
  }
}

.palette .product,
.palette .price {
  margin-bottom: 3vh;
}

.palette .price {
  font-weight: 900;
}

.palette_line-h3::before, .palette_line-h3::after {
  content: '';
  position: relative;
  width: 25%;
  height: 3vh;
}

.palette_line-h3::before {
  margin-left: 4vw;
  background: #047717;
  background: -webkit-gradient(linear, left top, right top, from(#42963D), color-stop(#7DC85D), to(#BEFF7F));
  background: linear-gradient(to right, #42963D, #7DC85D, #BEFF7F);
  -webkit-clip-path: polygon(0 38%, 19% 45%, 41% 42%, 63% 44%, 83% 39%, 100% 41%, 100% 59%, 78% 52%, 66% 60%, 44% 59%, 21% 56%, 0 60%);
  clip-path: polygon(0 38%, 19% 45%, 41% 42%, 63% 44%, 83% 39%, 100% 41%, 100% 59%, 78% 52%, 66% 60%, 44% 59%, 21% 56%, 0 60%);
}

.palette_line-h3::after {
  margin-right: 4vw;
  background: #aef3be;
  background: -webkit-gradient(linear, left top, right top, from(#BEFF7F), color-stop(#7DC85D), to(#42963D));
  background: linear-gradient(to right, #BEFF7F, #7DC85D, #42963D);
  -webkit-clip-path: polygon(70% 51%, 36% 57%, 0 43%, 0 63%, 34% 73%, 80% 63%, 100% 72%, 100% 44%);
  clip-path: polygon(70% 51%, 36% 57%, 0 43%, 0 63%, 34% 73%, 80% 63%, 100% 72%, 100% 44%);
}

/* Page Prochainement */
.load {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: spin 2s ease infinite;
          animation: spin 2s ease infinite;
}

.load :first-child {
  background: #579C87;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.load :nth-child(2) {
  background: #FDCB46;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.load :nth-child(3) {
  background: #579C87;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.load :last-child {
  background: #FDCB46;
}

/* Page Mentions Légales */
.legal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3vw;
  -webkit-box-shadow: 0 0 10px #a3a1a366;
          box-shadow: 0 0 10px #a3a1a366;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 10vh;
  width: 80vw;
  height: 100%;
  overflow: hidden;
  background-color: #f7f2eb;
}

.legal-body h2,
.legal-body h3 {
  padding-bottom: 2vh;
  padding-top: 1vh;
  text-align: center;
}

.legal-body h2 {
  font-size: 4vmin;
}

.legal-body h3 {
  font-size: 3vmin;
}

.legal-body p {
  font-size: 2.8vmin;
}
/*# sourceMappingURL=style.css.map */